<div class="landingpage">
  <h1>Generator Password</h1>
  <p>Project made with John Gualteros</p>
  <p>
    <span class="badge">Angular</span>
    <span class="badge">Typescript</span>
    <span class="badge">Sass</span>
  </p>
</div>
<div class="container-form">
  <div class="form">
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="length">Length</label>
        <select [(ngModel)]="password.length" name="length">
          <option selected disabled class="disabled">Select a option</option>
          <option value="8">8</option>
          <option value="16">16</option>
          <option value="32">32</option>
        </select>
      </div>
      <div>
        <label for="uppercase">Uppercase</label>
        <select name="uppercase" id="" [(ngModel)]="password.includeLetters">
          <option selected disabled class="disabled">Select a option</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <div>
        <label for="numbers">Numbers</label>
        <select name="numbers" id="" [(ngModel)]="password.includeNumbers">
          <option selected disabled class="disabled">Select a option</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <div>
        <label for="symbols">Symbols</label>
        <select name="symbols" id="" [(ngModel)]="password.includeSymbols">
          <option selected disabled class="disabled">Select a option</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <div>
        <button type="submit">Generate</button>
      </div>
    </form>
    <div *ngIf="generatedPassword != ''">
      <h1>Your password is: <span class="result">{{ generatedPassword }}</span></h1>
    </div>
    <div *ngIf="generatedPassword == ''">
      <h1>Your password is: (GeneratePassword)</h1>
    </div>
  </div>
</div>
